
.restaurants-view {
    width: 80%;
    padding-top: 25px;
}

.restaurants-view h2 {
    text-align: left;
    padding-left: 20%;
}

.restaurants-view table {
     padding-left: 20%;
}

.restaurant-view-tbody {
  
}